{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
	<h1 class="cntr">Select a theme</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
    <div class = "col-md-8">
        <form action="{{base}}/topic" method="post">
            {% for theme in themes %}
                <div class = "well">
                    <h2>{{theme.name}}</h2>
                    <a href = "{{base}}/theme/{{theme.name}}"><button type="button" class="btn btn-primary">Explore</button></a>
                    <div class="form-group col-md-2">
                        <select class="form-control" name = "{{theme.id}}">
                            {% for i in 1..10 %}
                                <option value = "{{i-1}}">choice {{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endfor %}
            <div class = "well">
                <button class = "btn btn-primary" type="submit" value = "Submit">Submit selections</button>
            </div>
        </form>
    </div>
    <div class = "well col-md-4">
        <h2>Your choices so far:</h2>
        {% set i = 0 %}
        {% for topic in topicChoices %}
            {% set i = i + 1 %}
            {{i}}: {{topic.title}}<br>
        {% endfor %}
    </div>
    </section>
{% endblock main %}