{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
	<h1 class="cntr">Select a topic</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <form action="{{base}}/topic" method="post">
            <div class = "col-md-8">
                {% for topic in topics %}
                    <div class = "well">
                        <h2>{{topic.title}}</h2>
                        <p>{{topic.description}}</p>
                        <div class="form-group col-md-2">
                            <select class="form-control" name = "{{topic.id}}">
                                {% for i in 1..10 %}
                                    <option value = "{{i-1}}">choice {{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endfor %}   
                <div class = "well">
                    <button class = "btn btn-primary" type="submit" value = "Submit">Submit selections</button>
                </div>
            </div>
        </form>
        <div class = "well col-md-4">
            <h2>Your choices so far:</h2>
            {% set i = 0 %}
            {% for topic in topicChoices %}
                {% set i = i + 1 %}
                {{i}}: {{topic.title}}<br>
            {% endfor %}
        </div>
    </section>
{% endblock main %}