{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
	<h1 class="cntr">Allocate topics</h1>
    </div>
{% endblock header %}

{% block main %}
    <section>
        <form action = "{{base}}/allocate/topic" method = "post">
            <div class = "well">
                <div class = "row">
                    <span class = "col-md-2"><strong>student id</strong></span>
                    <span class = "col-md-4"><strong>email address</strong></span>
                    <span class = "col-md-4"><strong>choice</strong></span>
                </div>
                {% for student in students %}
                    <br>
                    <div class = "row">
                        <span class = "col-md-2">{{student.id}}</span>
                        <span class = "col-md-4">{{student.email}}</span>
                        <div class="form-group col-md-4">
                            <select class="form-control" name = "topicStudent">
                            {% set i = 0 %}
                            {% for topic in student.ownChoices %}
                                {% set i = i + 1 %}
                                <option value = "{{topic.id}},{{student.id}}" >{{i}}: {{topic.title}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class = "btn btn-primary pull-right" type="submit" value = "Submit">Submit selections</button>
        </form>
    </section>
{% endblock main %}