{% extends 'page.twig' %}

{% block main %}
    <div class = "row">
        <div class = "well row">
            <b><h4><span class = "col-md-3 text-center">current leader</span>
            <span class = "col-md-2 text-center">theme name</span>
            <span class = "col-md-4 text-center">select a new leader</span></h4></b>
        </div>
        {% for theme in themes %}
            <form method = "post" action = "{{base}}/allocate/moduleleader">
                <div class = "well row">
                    <span class = "col-md-3 text-center">{{theme.email}}</span>
                    <span class = "col-md-2 text-center">{{theme.name}}</span>
                    <div class="form-group col-md-4">
                        <select class="form-control" name = "userid">
                            {% for themeLeader in themeLeaders %}
                                <option value = "{{themeLeader.id}}" >{{themeLeader.email}}</option>
                                <option value = "none" >none</option>
                            {% endfor %}
                        </select>
                        <input value = "{{theme.id}}" name = "themeid" type = "hidden" />
                    </div>
                    <div class = "col-md-2">
                        <button class = "btn btn-primary" type="submit" value = "Submit">Submit choices</button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock main %}